In [16]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [25]:
d=pd.read_csv("dataset_Facebook.csv", sep=';')

In [26]:
d

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

In [27]:
d.head

<bound method NDFrame.head of      Page total likes    Type  Category  Post Month  Post Weekday  Post Hour  \
0              139441   Photo         2          12             4          3
1              139441  Status         2          12             3         10
2              139441   Photo         3          12             3          3
3              139441   Photo         2          12             2         10
4              139441   Photo         2          12             2          3
..                ...     ...       ...         ...           ...        ...
495             85093   Photo         3           1             7          2
496             81370   Photo         2           1             5          8
497             81370   Photo         1           1             5          2
498             81370   Photo         3           1             4         11
499             81370   Photo         2           1             4          4

     Paid  Lifetime Post Total Reach  Lifetime Post Total Impressions  \
0     0.0                       2752                             5091
1     0.0                      10460                            19057
2     0.0                       2413                             4373
3     1.0                      50128                            87991
4     0.0                       7244                            13594
..    ...                        ...                              ...
495   0.0                       4684                             7536
496   0.0                       3480                             6229
497   0.0                       3778                             7216
498   0.0                       4156                             7564
499   NaN                       4188                             7292

     Lifetime Engaged Users  Lifetime Post Consumers  \
0                       178                      109
1                      1457                     1361
2                       177                      113
3                      2211                      790
4                       671                      410
..                      ...                      ...
495                     733                      708
496                     537                      508
497                     625                      572
498                     626                      574
499                     564                      524

     Lifetime Post Consumptions  \
0                           159
1                          1674
2                           154
3                          1119
4                           580
..                          ...
495                         985
496                         687
497                         795
498                         832
499                         743

     Lifetime Post Impressions by people who have liked your Page  \
0                                                 3078
1                                                11710
2                                                 2812
3                                                61027
4                                                 6228
..                                                 ...
495                                               4750
496                                               3961
497                                               4742
498                                               4534
499                                               3861

     Lifetime Post reach by people who like your Page  \
0                                                1640
1                                                6112
2                                                1503
3                                               32048
4                                                3200
..                                                ...
495                                              2876
496                                              2104
497                                              2388
498                                              2452
499                                              2200

     Lifetime People who have liked your Page and engaged with your post  \
0                                                  119
1                                                 1108
2                                                  132
3                                                 1386
4                                                  396
..                                                 ...
495                                                392
496                                                301
497                                                363
498                                                370
499                                                316

     comment    like  share  Total Interactions
0          4    79.0   17.0                 100
1          5   130.0   29.0                 164
2          0    66.0   14.0                  80
3         58  1572.0  147.0                1777
4         19   325.0   49.0                 393
..       ...     ...    ...                 ...
495        5    53.0   26.0                  84
496        0    53.0   22.0                  75
497        4    93.0   18.0                 115
498        7    91.0   38.0                 136
499        0    91.0   28.0                 119

[500 rows x 19 columns]>

In [29]:
d.describe

<bound method NDFrame.describe of      Page total likes    Type  Category  Post Month  Post Weekday  Post Hour  \
0              139441   Photo         2          12             4          3
1              139441  Status         2          12             3         10
2              139441   Photo         3          12             3          3
3              139441   Photo         2          12             2         10
4              139441   Photo         2          12             2          3
..                ...     ...       ...         ...           ...        ...
495             85093   Photo         3           1             7          2
496             81370   Photo         2           1             5          8
497             81370   Photo         1           1             5          2
498             81370   Photo         3           1             4         11
499             81370   Photo         2           1             4          4

     Paid  Lifetime Post Total Reach  Lifetime Post Total Impressions  \
0     0.0                       2752                             5091
1     0.0                      10460                            19057
2     0.0                       2413                             4373
3     1.0                      50128                            87991
4     0.0                       7244                            13594
..    ...                        ...                              ...
495   0.0                       4684                             7536
496   0.0                       3480                             6229
497   0.0                       3778                             7216
498   0.0                       4156                             7564
499   NaN                       4188                             7292

     Lifetime Engaged Users  Lifetime Post Consumers  \
0                       178                      109
1                      1457                     1361
2                       177                      113
3                      2211                      790
4                       671                      410
..                      ...                      ...
495                     733                      708
496                     537                      508
497                     625                      572
498                     626                      574
499                     564                      524

     Lifetime Post Consumptions  \
0                           159
1                          1674
2                           154
3                          1119
4                           580
..                          ...
495                         985
496                         687
497                         795
498                         832
499                         743

     Lifetime Post Impressions by people who have liked your Page  \
0                                                 3078
1                                                11710
2                                                 2812
3                                                61027
4                                                 6228
..                                                 ...
495                                               4750
496                                               3961
497                                               4742
498                                               4534
499                                               3861

     Lifetime Post reach by people who like your Page  \
0                                                1640
1                                                6112
2                                                1503
3                                               32048
4                                                3200
..                                                ...
495                                              2876
496                                              2104
497                                              2388
498                                              2452
499                                              2200

     Lifetime People who have liked your Page and engaged with your post  \
0                                                  119
1                                                 1108
2                                                  132
3                                                 1386
4                                                  396
..                                                 ...
495                                                392
496                                                301
497                                                363
498                                                370
499                                                316

     comment    like  share  Total Interactions
0          4    79.0   17.0                 100
1          5   130.0   29.0                 164
2          0    66.0   14.0                  80
3         58  1572.0  147.0                1777
4         19   325.0   49.0                 393
..       ...     ...    ...                 ...
495        5    53.0   26.0                  84
496        0    53.0   22.0                  75
497        4    93.0   18.0                 115
498        7    91.0   38.0                 136
499        0    91.0   28.0                 119

[500 rows x 19 columns]>

In [30]:
d.shape

(500, 19)

In [32]:
df=d[['Page total likes','Category','Post Month','Post Weekday']].loc[0:15]
df

    Page total likes  Category  Post Month  Post Weekday
0             139441         2          12             4
1             139441         2          12             3
2             139441         3          12             3
3             139441         2          12             2
4             139441         2          12             2
5             139441         2          12             1
6             139441         3          12             1
7             139441         3          12             7
8             139441         2          12             7
9             139441         3          12             6
10            139441         2          12             5
11            139441         2          12             5
12            139441         2          12             5
13            139441         2          12             5
14            138414         2          12             4
15            138414         2          12             3

In [36]:
a = np.array([1,2,3,4,5,6,7,8])
dd=a.reshape((2,4))
dd

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [40]:
df1=d[['Type','Paid','Category']].loc[20:30]
df1

      Type  Paid  Category
20   Photo   0.0         2
21   Photo   0.0         1
22    Link   0.0         1
23   Photo   0.0         3
24  Status   0.0         2
25  Status   0.0         2
26  Status   0.0         2
27   Photo   0.0         3
28   Photo   0.0         2
29   Video   1.0         1
30   Photo   0.0         2

In [42]:
df2=d[['Lifetime Post Consumers','Paid','Lifetime Post Total Impressions']].loc[20:30]
df2

    Lifetime Post Consumers  Paid  Lifetime Post Total Impressions
20                      142   0.0                             5066
21                       15   0.0                             2467
22                      104   0.0                             6853
23                      118   0.0                             4888
24                     1270   0.0                            15294
25                     1462   0.0                            15104
26                     2531   0.0                            34143
27                      124   0.0                             4306
28                      559   0.0                            18264
29                     1068   1.0                            61262
30                      306   0.0                             9390

In [43]:
merge=pd.concat([df,df1,df2])
merge

,Page total likes,Category,Post Month,Post Weekday,Type,Paid,Lifetime Post Consumers,Lifetime Post Total Impressions
0,139441.0,2.0,12.0,4.0,NaN,NaN,NaN,NaN
1,139441.0,2.0,12.0,3.0,NaN,NaN,NaN,NaN
2,139441.0,3.0,12.0,3.0,NaN,NaN,NaN,NaN
3,139441.0,2.0,12.0,2.0,NaN,NaN,NaN,NaN
4,139441.0,2.0,12.0,2.0,NaN,NaN,NaN,NaN
5,139441.0,2.0,12.0,1.0,NaN,NaN,NaN,NaN
6,139441.0,3.0,12.0,1.0,NaN,NaN,NaN,NaN
7,139441.0,3.0,12.0,7.0,NaN,NaN,NaN,NaN
8,139441.0,2.0,12.0,7.0,NaN,NaN,NaN,NaN
9,139441.0,3.0,12.0,6.0,NaN,NaN,NaN,NaN
10,139441.0,2.0,12.0,5.0,NaN,NaN,NaN,NaN
11,139441.0,2.0,12.0,5.0,NaN,NaN,NaN,NaN
12,139441.0,2.0,12.0,5.0,NaN,NaN,NaN,NaN
13,139441.0,2.0,12.0,5.0,NaN,NaN,NaN,NaN
14,138414.0,2.0,12.0,4.0,NaN,NaN,NaN,NaN
15,138414.0,2.0,12.0,3.0,NaN,NaN,NaN,NaN
20,NaN,2.0,NaN,NaN,Photo,0.0,NaN,NaN
21,NaN,1.0,NaN,NaN,Photo,0.0,NaN,NaN
22,NaN,1.0,NaN,NaN,Link,0.0,NaN,NaN
23,NaN,3.0,NaN,NaN,Photo,0.0,NaN,NaN
24,NaN,2.0,NaN,NaN,Status,0.0,NaN,NaN
25,NaN,2.0,NaN,NaN,Status,0.0,NaN,NaN
26,NaN,2.0,NaN,NaN,Status,0.0,NaN,NaN
27,NaN,3.0,NaN,NaN,Photo,0.0,NaN,NaN
28,NaN,2.0,NaN,NaN,Photo,0.0,NaN,NaN
29,NaN,1.0,NaN,NaN,Video,1.0,NaN,NaN
30,NaN,2.0,NaN,NaN,Photo,0.0,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,0.0,142.0,5066.0
21,NaN,NaN,NaN,NaN,NaN,0.0,15.0,2467.0
22,NaN,NaN,NaN,NaN,NaN,0.0,104.0,6853.0
23,NaN,NaN,NaN,NaN,NaN,0.0,118.0,4888.0
24,NaN,NaN,NaN,NaN,NaN,0.0,1270.0,15294.0
25,NaN,NaN,NaN,NaN,NaN,0.0,1462.0,15104.0
26,NaN,NaN,NaN,NaN,NaN,0.0,2531.0,34143.0
27,NaN,NaN,NaN,NaN,NaN,0.0,124.0,4306.0
28,NaN,NaN,NaN,NaN,NaN,0.0,559.0,18264.0
29,NaN,NaN,NaN,NaN,NaN,1.0,1068.0,61262.0
30,NaN,NaN,NaN,NaN,NaN,0.0,306.0,9390.0

In [45]:
sort=d.sort_values('Type',ascending=True)
sort

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
438,98195,Link,2,3,6,6,0.0,5730,10083,103,71,97,8964,4830,92,2,32.0,15.0,49
470,91437,Link,1,2,3,13,0.0,9356,14986,448,381,505,13919,8460,392,4,114.0,13.0,131
41,138895,Link,1,12,6,3,1.0,18480,28438,517,366,460,12078,6752,319,6,187.0,18.0,211
43,138353,Link,1,12,5,3,1.0,2645,4270,134,109,170,2330,1377,101,7,29.0,10.0,46
45,138353,Link,1,12,4,3,1.0,7968,13023,206,158,223,6734,3492,138,4,57.0,10.0,71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,137893,Video,1,11,5,3,1.0,100768,220447,2101,1735,2331,59658,18880,885,17,449.0,84.0,550
55,138329,Video,1,11,6,2,1.0,16416,31950,459,411,539,21436,9568,363,2,65.0,14.0,81
277,126424,Video,1,6,2,13,0.0,139008,277100,1779,1643,2356,107502,38720,1008,23,204.0,44.0,271
243,130791,Video,1,7,3,11,1.0,21872,40413,3872,3822,7327,24667,12920,2218,18,315.0,76.0,409
74,137893,Video,1,11,3,11,0.0,13544,30235,517,458,667,26622,11760,447,2,99.0,13.0,114